{% extends 'base.html.twig' %}

{% block title %}Commandes Archivées{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1>Commandes Archivées</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nom</th>
                <th scope="col">Etat de la commande</th>
                <th scope="col">Statut</th>
                <th scope="col">Montant total</th>
                <th scope="col">Date</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for commande in commandes %}
                <tr>
                    <td>{{ commande.id }}</td>
                    <td>{{ commande.client.nom }}</td>
                    <td>{{ commande.etat }}</td>
                    <td>{{ commande.statutPaiement }}</td>
                    <td>{{ commande.montantTotal }} CHF</td>
                    <td>{{ commande.dateCommande|date('d/m/Y') }}</td>
                    <td>
                        <a href="{{ path('show', {id: commande.id}) }}" class="btn btn-info btn-sm">Voir</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
